body {
    background-color: white;
}

.header{
	background-color: #f2f2f2;
}

.userSection{
	background-color:#f2f2f2;
}
.btn:hover, .navbtn:hover, .btn:focus, .navbtn:focus, .btn:active , navbtn:active{
  background-color: #ff6600;
  color:white;
}

.btn, .btn-info:hover{
	background-color:white;
	color:#ff6600;
}

.btn-primary{
	color:#ff6600;
}

.btn-info{
	background-color: #ff6600;
    color:white;
}

.btn-success {
	color:#ff6600;
}

.navbtn{
	color:#ff6600;
	font-size: 25px;
}

p.info{
	text-transform: uppercase;
	font-weight: bold;
}

img.customImage{
	height: 50px;
	width: 50px;
    border:1px solid #ff6600;
}

img.customImage2{
	height: 400%;
	width: 120%;
    border:1px solid #ff6600;
}

span.highlight {
	color: #ff6600;
	background-color: white;
	font-size: 15;
}

span.highlighth4 {
	color: 	#ff6600;
	font-size: 20;
}

span.highlighth1, .toOrange{
	color: 	#ff6600;
}

hr.customOne {
    border: 1px solid #ff6600;
    height: 1px;
}

hr.customeTwo {
	border: 0;
    border-bottom: 1px dashed #ff6600;
    background: #ff6600;
}

.customSize {
	font-size: 30px;
}

.customError {
	color:rgb(222, 67, 67);
}
