<ul class="nav nav-pills nav-stacked">
  <li><a ui-sref="home" ui-sref-active="btn"><span class="sidenavbtn"> 
      <span class="glyphicon glyphicon-home higlighth4">  Home</span></a></li>
  <li><a ui-sref="message" ui-sref-active="btn"><span class="sidenavbtn">
      <span class="glyphicon glyphicon-envelope">  Contact Us</span></a></li>
  <li><a ui-sref="users" ui-sref-active="btn"><span class="sidenavbtn">
      <span class="glyphicon glyphicon-user">  Users</span></a></li>
  <li><a ui-sref="register" ui-sref-active="btn"><span class="sidenavbtn">
      <span class="glyphicon glyphicon-plus">  Add User</span></a></li>
</ul>