<div class="panel-body container">
  <div class="col-md-6 toOrange customSize">
	  <span class="navbtn"><strong>Users</strong></span>
  </div>  
  <div class="col-md-2">
	  <button  
	        class="btn btn-info" 
	        ng-click="UserFactory.gotoUserRegister()">+ Add User 
	  </button> 
  </div>   
  <div class="col-md-3"> 
    <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
      </span>
      <input type="search" data-ng-model="filterTerm" class="form-control" placeholder="Filter User on detail">  
    </div>
   </div>
   <div class="col-md-1">
   </div>     
</div>
<div class="panel-body container userSection">
	 <div class="row toOrange">
	   <div class="col-md-1">
	   </div>
	   <div class="col-md-2">
	    NAME
	   </div>
	   <div class="col-md-3">
	    EMAIL
	   </div>
	   <div class="col-md-2">
	    CITY
	   </div>
	   <div class="col-md-3">
	    COMPANY
	   </div>
     </div>
     <hr class="customOne"/>
 <div ng-repeat="user in UserFactory.model.usersList | filter:filterTerm">
    <div class="row selector" ng-click="UserFactory.goToUserDetail(user)">
	   <div class="col-md-1">
	     <img class="img-circle customImage" src="{{user.profilePic}}"/>
	   </div>
	   <div class="col-md-2">
	     {{user.firstName}}{{" "}}{{user.lastName}}
	   </div>
	   <div class="col-md-3">
	     {{user.email | dataFilter}}
	   </div>
	   <div class="col-md-2">
	    {{user.address.city | dataFilter}}
	   </div>
	   <div class="col-md-3">
	    {{user.company.name | dataFilter}}
	   </div>
    </div>
    <hr class="customeTwo"/>
 </div>
</div>